
$body-bg: rgb(75, 75, 75);
$body-color: rgb(255, 255, 255);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$altdark: rgba(255,255,255,0.1); 
$darkmid: rgb(65, 65, 65);
// Create your own map
$custom-themes: (
  "altdark": $altdark,
  "darkmid": $darkmid,
);


// Merge the maps
$theme-colors: map-merge($custom-themes, $theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
